<% layout('/layouts/boilerplate') %>

    <div id="filters">
        <div class="filter-container">

            <a href="/listings/category/mountain">
                <div class="filter">
                    <div><i class="fa-solid fa-mountain"></i></div>
                    <p>Mountains</p>
                </div>
            </a>
            <a href="/listings/category/farmHouse">
                <div class="filter">
                    <div><i class="fa-solid fa-cow"></i></div>
                    <p>Farm House</p>
                </div>
            </a>
            <a href="/listings/category/dome">
                <div class="filter">
                    <div><i class="fa-solid fa-igloo"></i></div>
                    <p>Dome</p>
                </div>
            </a>
            <a href="/listings/category/houseBoat">
                <div class="filter">
                    <div><i class="fa-solid fa-sailboat"></i></i></div>
                    <p> House Boat</p>
                </div>
            </a>

        </div>
        <div class="text-toggle border shadow-sm fe424d mb-3 p-2 rounded-5">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" />
                <label class="form-check-label" for="flexSwitchCheckChecked">Display total after taxes</label>
            </div>
        </div>
    </div>
    <div class="row row-cols-lg-3 mt-3 row-cols-md-2 row-cols-sm-1">
        <% for(let listing of allListings ){%>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card listing-card">
                    <div>
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" />
                        <div class="card-img-overlay">
                            <%= listing.location %><br />
                                <%= listing.country %>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text card-title mt-2">
                            <b>
                                <%= listing.title %>
                            </b>
                        </p>
                        <p class="card-text card-des">
                            <%= listing.description %>
                        </p>

                        <p class="card-text card-price">
                            <i class="tax-info"> +18% GST</i>
                            <span class="price-line">&#8377;<%= listing.price.toLocaleString("en-IN") %> </span>
                            <span>/Day</span>

                            <input type="hidden" class="hidden-tax-price" value="<%= listing.price %>" />
                        </p>
                    </div>
                </div>
            </a>
            <% } %>
    </div>

    <script src="/js/tax.js"></script>